ALCHEMY_API_KEY="U7tte8molsSlREKDCvXxIXR1OBmyKRhp"
MAINNET_RPC_URL="https://eth-mainnet.g.alchemy.com/v2/U7tte8molsSlREKDCvXxIXR1OBmyKRhp"
GOERLI_RPC_URL="https://eth-goerli.g.alchemy.com/v2/goFP-aKckSY4bFTPbKx7Eg1N5BzQulzL"
POLYGON_RPC_URL="https://polygon-mainnet.g.alchemy.com/v2/U7tte8molsSlREKDCvXxIXR1OBmyKRhp"
SEPOLIA_RPC_URL="https://eth-sepolia.g.alchemy.com/v2/U7tte8molsSlREKDCvXxIXR1OBmyKRhp"
LOCAL_RPC_URL=http://127.0.0.1:8545

# anvil testnet mnemonic
# Mnemonic:          test test test test test test test test test test test junk
# Derivation path:   m/44'/60'/0'/0/
PRIVATE_KEY=0xac0974bec39a17e36ba4a6b4d238ff944bacb478cbed5efcae784d7bf4f2ff80
