[submodule "lib/ds-test"]
	path = lib/ds-test
	url = https://github.com/dapphub/ds-test
[submodule "lib/ds-value"]
	path = lib/ds-value
	url = https://github.com/dapphub/ds-value
[submodule "lib/ds-token"]
	path = lib/ds-token
	url = https://github.com/dapphub/ds-token
[submodule "lib/forge-std"]
	path = lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "lib/openzeppelin-contracts"]
	path = lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "lib/chainlink-brownie-contracts"]
	path = lib/chainlink-brownie-contracts
	url = https://github.com/smartcontractkit/chainlink-brownie-contracts
[submodule "lib/dss-cron"]
	path = lib/dss-cron
	url = https://github.com/makerdao/dss-cron
[submodule "lib/dss-psm"]
	path = lib/dss-psm
	url = https://github.com/makerdao/dss-psm
# [submodule "lib/dss-lite-psm"]
# 	path = lib/dss-lite-psm
# 	url = https://github.com/makerdao/dss-lite-psm
[submodule "lib/dss-auto-line"]
	path = lib/dss-auto-line
	url = https://github.com/makerdao/dss-auto-line
[submodule "lib/ilk-registry"]
	path = lib/ilk-registry
	url = https://github.com/makerdao/ilk-registry
	branch = master
[submodule "lib/dss-lite-psm"]
	path = lib/dss-lite-psm
	url = https://github.com/makerdao/dss-lite-psm
[submodule "lib/dss-proxy-actions"]
	path = lib/dss-proxy-actions
	url = https://github.com/makerdao/dss-proxy-actions
