[submodule "lib/ds-test"]
	path = lib/ds-test
	url = https://github.com/dapphub/ds-test
[submodule "lib/ds-value"]
	path = lib/ds-value
	url = https://github.com/dapphub/ds-value
[submodule "lib/ds-token"]
	path = lib/ds-token
	url = https://github.com/dapphub/ds-token
[submodule "lib/forge-std"]
	path = lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "lib/openzeppelin-contracts"]
	path = lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "lib/chainlink-brownie-contracts"]
	path = lib/chainlink-brownie-contracts
	url = https://github.com/smartcontractkit/chainlink-brownie-contracts
[submodule "lib/dss-cron"]
	path = lib/dss-cron
	url = https://github.com/makerdao/dss-cron
[submodule "lib/dss-psm"]
	path = lib/dss-psm
	url = https://github.com/makerdao/dss-psm
# [submodule "lib/dss-lite-psm"]
# 	path = lib/dss-lite-psm
# 	url = https://github.com/makerdao/dss-lite-psm
[submodule "lib/dss-auto-line"]
	path = lib/dss-auto-line
	url = https://github.com/makerdao/dss-auto-line
[submodule "lib/ilk-registry"]
	path = lib/ilk-registry
	url = https://github.com/makerdao/ilk-registry
	branch = master
[submodule "lib/dss-lite-psm"]
	path = lib/dss-lite-psm
	url = https://github.com/makerdao/dss-lite-psm
[submodule "lib/dss-proxy-actions"]
	path = lib/dss-proxy-actions
	url = https://github.com/makerdao/dss-proxy-actions
[submodule "lib/dss-proxy"]
	path = lib/dss-proxy
	url = https://github.com/makerdao/dss-proxy
[submodule "lib/dss-cdp-manager"]
	path = lib/dss-cdp-manager
	url = https://github.com/makerdao/dss-cdp-manager
[submodule "lib/dsr-manager"]
	path = lib/dsr-manager
	url = https://github.com/makerdao/dsr-manager
[submodule "lib/dss-gem-joins"]
	path = lib/dss-gem-joins
	url = https://github.com/makerdao/dss-gem-joins
	branch="master"
[submodule "lib/ds-roles"]
	path = lib/ds-roles
	url = https://github.com/dapphub/ds-roles
[submodule "lib/dss-deploy"]
	path = lib/dss-deploy
	url = https://github.com/makerdao/dss-deploy
	branch="master"
[submodule "lib/mkr-authority"]
	path = lib/mkr-authority
	url = https://github.com/makerdao/mkr-authority
[submodule "lib/stablecoin-evm"]
	path = lib/stablecoin-evm
	url = https://github.com/circlefin/stablecoin-evm
